/*
 * ** header v3.0
 * This file is a part of the CaosDB Project.
 *
 * Copyright (C) 2018 Research Group Biomedical Physics,
 * Max-Planck-Institute for Dynamics and Self-Organization Göttingen
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program. If not, see <https://www.gnu.org/licenses/>.
 *
 * ** end header
 */

@radius_normal: 4px;
@margin_normal: 8px;
@border1: 1px solid #e7e7e7;

.caosdb-v-show-only-child {
    display: none;
}

.caosdb-v-show-only-child:only-child {
    display: initial;
}

.caosdb-comment-annotation-text h1 {
    font-size: 24px;
}

.caosdb-comment-annotation-text h2 {
    font-size: 20px;
}

.caosdb-comment-annotation-text h3 {
    font-size: 18px;
}

.caosdb-comment-annotation-text h4 {
    font-size: 16px;
}

.caosdb-show-preview-button, .caosdb-hide-preview-button {
    position: absolute;
    top: 5px;
    left: -5px;
}

.caosdb-entity-heading-attr {
    overflow-x: auto;
}

a.label.caosdb-id-button:hover {
    background-color: #5E6762;
}

.caosdb-entity-preview .caosdb-entity-panel-body {
    overflow-y: auto;
    max-height: 250px;
}

.caosdb-preview-carousel-nav > .caosdb-value-list > .btn-group > .btn:first-child {
    margin-left: 34px;
}
.caosdb-preview-carousel-nav > .caosdb-value-list > .btn-group > .btn:last-child {
    margin-right: 34px;
}

.caosdb-preview-carousel-nav {
    position: relative;
}
.caosdb-query-panel {
	padding-top: 20px;
	padding-bottom: 20px;
}

.navbar-default .btn-link:hover {
	text-decoration: none;
}

.navbar-default .btn-link:focus {
    text-decoration: none;
}

.caosdb-property-name {
	font-weight: bold;
	margin-left: @margin-normal;
}

.caosdb-square {
	position: relative;
	overflow: hidden;
}

.caosdb-square::before {
	content: "";
	display: block;
	padding-top: 100%;
}

.caosdb-square-content {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
}

.caosdb-parent-name {
    font-weight: bold;
    margin-right: 4px;	
}

/* lists of values */
/* INLINE (with default scroll-bar) */
.caosdb-value-list {	
	overflow-x: auto;
}

.caosdb-value-list > .btn-group > .btn {
    float: none;
}
.caosdb-value-list > .btn-group,
.caosdb-value-list > ol {
	display: inline-block;
    float: none;
    white-space: nowrap;
    margin-bottom: 0px;
    margin-left: 0px;
}

.caosdb-value-list > .list-inline > li {
    border-left-width: 0px; 
}

.caosdb-value-list > .list-inline > li:first-child {
	border-radius: @radius_normal 0px 0px @radius_normal;
	border-left-width: 1px;
}

.caosdb-value-list > .list-inline > li:last-child {
    border-radius: 0px @radius_normal @radius_normal 0px;
}

/* single boolean values */
.caosdb-boolean-true {
	font-weight: bold;
	font-size: 90%;
	border: 1px solid #bbb;
	padding: 2px 8px;
	border-radius: 8px;
}

.caosdb-boolean-false {
    .caosdb-boolean-true();
}

.caosdb-entity-panel-heading {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;  
}

.caosdb-entity-panel-body {
    padding: 0px 15px;	
}

.caosdb-entity-panel-body > :first-child {
	margin-top: 15px;
}

.caosdb-entity-heading-attr-name {
	color: #6c6c6c;
    font-size: 90%;
    margin-right: 0.3em; 
}

.caosdb-subproperty-divider {
    margin: 4px 0px;
    border-top: 1px solid #dddddd
}

.caosdb-prop-label {
    background-color: #f5f5f5;
    font-weight: bold;
    padding: 8px 15px;
}

.caosdb-prop-value {
    background-color: #ffffff;
    padding: 8px 15px;
}

.caosdb-prop-list-group .row {
    margin-left: 0px;
    margin-right: 0px;
}

.caosdb-prop-list-group>.list-group-item {
    padding: 0px
}

.caosdb-prop-list-group>.list-group-item:first-child .caosdb-prop-label
    {
    border-top-left-radius: @radius_normal;
    border-top-right-radius: @radius_normal;
}

.caosdb-prop-list-group>.list-group-item:first-child .caosdb-prop-value
    {
    border-top-right-radius: @radius_normal;
}

.caosdb-prop-list-group>.list-group-item:last-child .caosdb-prop-label {
    border-bottom-left-radius: @radius_normal;
}

.caosdb-prop-list-group>.list-group-item:last-child .caosdb-prop-value {
    border-bottom-left-radius: @radius_normal;
    border-bottom-right-radius: @radius_normal;
}

.caosdb-label-record {
    background-color: #F92108;
    margin-right: @margin-normal;
}

.caosdb-label-recordtype {
    background-color: #00A32E;
    margin-right: @margin-normal;
}

.caosdb-label-property {
    background-color: #496DAB;
    margin-right: @margin-normal;
}

.caosdb-label-file {
    background-color: #C92E86;
    margin-right: @margin-normal;
}

.label.caosdb-id-button {
    background-color: #4E5752;
}


.caosdb-properties-heading {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #f5f5f5;
    color: #7c7c7c
}

.caosdb-parents-heading {
    .caosdb-properties-heading();
}

.caosdb-comments-heading {
    .caosdb-properties-heading();
}

.caosdb-parent-item {
    padding-left: 40px;
    text-indent: -40px
}

.caosdb-unit {
    color: #8c8c8c;
    font-size: 80%;
    margin-left: 0.3em;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand>img {
    padding: 0px 0px;
    height: 100%
}

.caosdb-fs-cwd::before {
    content: " > ";
}

.caosdb-fs-dir>.glyphicon::before {
    content: "\e117";
}

.caosdb-fs-dir>.glyphicon {
    margin-right: @margin-normal;
}

.caosdb-fs-dir:hover>.glyphicon::before {
    content: "\e118";
}

.caosdb-fs-file>.glyphicon::before {
    content: "\e022";
}

.caosdb-fs-file>.glyphicon {
    margin-right: @margin-normal;
}

.caosdb-fs-file:hover>.glyphicon::before {
    content: "\e025";
}

.caosdb-fs-btn-file {
    padding: 0px;
    background-color: transparent;
    border: 0px;
}

.caosdb-fs-btn-file:hover .caosdb-label-file {
    background-color: #F96EB6;
}

.caosdb-fs-btn-file:hover .caosdb-label-id {
    background-color: #6E8782;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 15px;
    display: none;
    z-index: 1050;
}

.caosdb-logo {
    margin-right: @margin-normal;
}

.caosdb-comment-action-item {
    padding-left: 4px;
    padding-right: 4px;
    border-left: 1px solid #7c7c7c;
}

.caosdb-comment-action>.caosdb-comment-action-item:first-child {
    border-left: 0px solid #7c7c7c;
}

.caosdb-pagination {
    margin: 5px 15px;
}

.caosdb-pagination-navbar {
    padding-bottom: 5px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    border: 0px;
    border-top: @border1;
    z-index: 1000;
    position: fixed;
}

.caosdb-heading {
    color: #5e5e5e;
    background-color: #f8f8f8;
    border-bottom: @border1;
}

.caosdb-heading>.container {
    padding: 20px 0px;
}

.spinning {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.flipped-horiz-icon {
    transform: scaleX(-1);
}

.spacer {
    margin-left: 12px;
}

input[type="file"] {
    display: none;
}
